.mt-1px {
    margin-top: 1px !important;
}

.mt-2px {
    margin-top: 2px !important;
}

.mt-3px {
    margin-top: 3px !important;
}

.mt-4px {
    margin-top: 4px !important;
}

.mt-5px {
    margin-top: 5px !important;
}

.mt-10px {
    margin-top: 10px !important;
}

.mt-20px {
    margin-top: 20px !important;
}

.mt-30px {
    margin-top: 30px !important;
}

.mt-40px {
    margin-top: 40px !important;
}

.mt-50px {
    margin-top: 50px !important;
}

.mt-60px {
    margin-top: 60px !important;
}

.mt-70px {
    margin-top: 70px !important;
}

.mt-80px {
    margin-top: 80px !important;
}

.mt-90px {
    margin-top: 90px !important;
}

.mt-10px0 {
    margin-top: 100px !important;
}

.right-0px{
    right: 0px !important;
    left: unset !important;
}
